<ion-view view-title="Info">
  <ion-content class="padding">
    <h2>Early Bird info</h2>
    <p>
        Early Bird is an app to help you get up early and be productive for the whole day. You set your own goals, rewards and punishments. This project is made during a hackathon so please be mercifull. 
    </p>
    <p>
      <b>Psst!</b> You can visit our github repository and contribute to the project under this link. <a href="https://github.com/okraskaj/early-bird">Early Bird's Github</a> We will be gratefull for any help.
    </p>
  </ion-content>
</ion-view>
